$color-primary: #0E8784;
$color-primary-light: #66D2CF;
$color-secondary: #FDD6BA;
$color-text: #333D4B;
$color-text-light: #83888F;
$color-background: #FEFCF7;

$color-option-default: #F2F2F2;
$color-option-hover: $color-secondary;
$color-option-active: $color-primary;

$color-button-default: $color-primary;
$color-button-hover: $color-primary-light;
$color-button-disabled: #E2DEDB;

//Breakpoints
$breakpoint-desktop: 1025px;
$breakpoint-laptop: 749px;
$breakpoint-tablet: 610px;
